/*        header       */

.render {
    background-color: $color-primary;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    letter-spacing: 2px;
}

.ale {
    font-size: 2rem;
    font-weight: 8px;
    text-align: center;
    text-shadow: $color-primary 2px 2px;
    letter-spacing: 0.125rem;
}
